Django==5.1.6
djangorestframework==3.16.0
django-allauth==65.10.0
django-autoslug==1.9.9
django-crispy-forms==2.4
django-tinymce==4.1.0
fastapi==0.116.1
uvicorn==0.35.0
pydantic==2.11.7
python-dotenv==1.1.1
psycopg2-binary==2.9.10
whitenoise==6.9.0
python-multipart==0.0.20
requests==2.32.4
bcrypt==4.3.0
argon2-cffi==25.1.0
