<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <!-----header------->
    <header>
        <a href="#" class="logo">Develo<span>pe</span>r..</a>
        <ul class="navlist">
            <li class="{% if request.path == '/' %} active {% endif %}"><a href="{% url 'home' %}" class="active">Home</a></li>
            <li class="{% if request.path == '/about/' %} active {% endif %}"><a href="{% url 'about' %}">About Me</a></li>
            <li class="{% if request.path == '/services/' %} active {% endif %}"><a href="{% url 'services' %}">Services</a></li>
            <li class="{% if request.path == '/portfolio/' %} active {% endif %}"><a href="{% url 'portfolio' %}">Portfolio</a></li>
            <li class="{% if request.path == '/contact/' %} active {% endif %}"><a href="{% url 'contact' %}">Contact</a></li>
            <li class="{% if request.path == '/login/' %} active {% endif %}"><a href="{% url 'login' %}">Login</a></li>
            <li class="{% if request.path == '/information_form/' %} active {% endif %}"><a href="{% url 'information_form' %}">Form</a></li>


        </ul>
        <div class="bx bx-menu" id="menu-icon">
        </div>
    </header>
