{% extends "base.html" %}
{% block content %}
		<!-- container 1 -->
		<div class="flex-container1">
			<div class="flex-item1">
				<h1>
					INTRODUCTION ABOUT ME:
				</h1>
				<div class="item1">
					<div>
						<p>

							{{name}} MOKTAN:<br>
							Thanks for your interest, here
							is a quick story of me and this
							website.</p>
							<hr color="black"><br>
<p>
							I do my work mainly in C-Language,
							C++ and JAVA. C++ and Data Structure
							& Algorithm are my stronger section.
							Besides these I know Web Development,
							LINUX and database as well.
						</p>
							<hr color="black"><br>
<p>
							This website is basically one of my
							Web Development project which is
							built using HTML only.
							Here one can also find ideas for
							projects in different languages.

							Thanks again for reading this,
							because of people like you, it
							exists and prospers!

<br><br><br><br><br><br>

<h2 style="text-align: center;">THANK YOU FOR VISITING MY WEBSITE !</h2>



						</p>
					</div>
					<div>
						<p id="demo">

						</p>

						<img src="/static/images/pic4.jpg">

					</div>
				</div>
			</div>

		</div>




	</div>

	<!--Achievement(start)-->
	<div id="achievements" style="margin-left: auto; margin-right: auto;">
	<table id="achievements" border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="black">
		<tr>
			<td>
				<table border="0" cellpadding="15" cellspacing="0" width="80%" align="center">
					<tr>
						<td height="180" align="center" valign="middle">
							<font face="Verdana" size="7" color="white">
								Achievements
							</font>
						</td>
					</tr>

					<tr>
						<td>
							<font face="Verdana" size="4" color="white">
								<ul>
									<li>
										<ul>
											<li>
												April 7th,2023 - Present.
											</li>
											<li>
												Writing technical articles
												on programming related topics.
											</li>
										</ul>
									</li>

									<li>
										<hr color="black">
										<hr color="black">
										<hr color="black">
										<b>Microsoft Learn Student Ambassador.</b>
										<ul>
											<li>
												April 7th,2023- Present.
											</li>
											<li>
												Conducted events and workshops on
												different technologies.
											</li>
										</ul>
									</li>

									<li>
										<hr color="black">
										<hr color="black">
										<hr color="black">
										<b>Mentored HackTX.</b>
										<ul>
											<li>
												October,2020.
											</li>
											<li>
												Selected from Microsoft as Student
												ambassador where I mentored students
												in their projects.
											</li>
											<hr color="black">
											<hr color="black">
											<hr color="black">
											<hr color="black">
											<hr color="black">
										</ul>
									</li>

								</ul>

							</font>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
	<!--Achievement(end)-->

	<div class="apple" id="project">
		<br><br><br>
		<h1>My Projects:</h1><br><br>
		<ul>
			<li>
				<h2>Project 1: Build a Form.</h2>
				<button><a href="form.html" target="_blank">Click Me</a></button>
			</li>

			<li>
				<h2>Project 2: Create an animation.</h2>
				<button><a href="animation.html" target="_blank">Click Me</a></button>
			</li>

			<li>
				<h2>Project 3: Javascript in Html. </h2>
				<button><a href="javascript.html" target="_blank">Click Me</a></button>
			</li>

			<li>
				<h2>Project 4: My Profile Card. </h2>
				<button><a href="card.html" target="_blank">Click Me</a></button>
			</li>

			<li>
				<h2>Project 5: A Website. </h2>
				<button><a href="website.html" target="_blank">Click Me</a></button>
			</li>

			<li>
				<h2>Project 6: Image Gallary. </h2>
				<button><a href="image gallary.html" target="_blank">Click Me</a></button>
			</li>
		</ul>
	</div>
{% endblock %}

