{% extends "base.html" %}
{% load static %}
{% block content %}
<!-----------About Section--------->
    <section class="about" id="about">
        <div class="about-img">
            <img src="{% static 'images/profile.jpg' %}">
        </div>

        <div class="about-text">
            <h2>About <span>Me</span></h2>
            <h4>Full Stack Developer</h4>
            <p>Hi, I'm Nischal, a passionate and driven tech enthusiast with a strong focus on web and mobile development. Skilled in Django, FastAPI, Flutter, and PostgreSQL, I enjoy building practical projects and solving real-world challenges. Always eager to learn and grow, I stay curious about new technologies and trends, especially how AI impacts the future of work. I’m committed to refining my skills and creating meaningful, user-friendly digital experiences.</p>
            <a href="#" class="btn">More About</a>
        </div>
    </section>
{% endblock %}
