{% extends "base.html" %}
{% block content %}

    <!------------Home section---------->
    <section class="home" id="home">        
        <div class="home-text">
            <div class="slide">
                <span class="one">Hello</span>
                <span class="two">I'm</span>
            </div>
            <h1>Nischal</h1>
            <h3>Full Stack<span> Developer.</span></h3>
            <p>
I am a passionate BSc-CSIT 3rd-year student, constantly exploring new technologies and building projects that challenge me. Every day is an opportunity to learn, innovate, and grow. My mantra: <strong>"Keep Learning, Keep Growing!"</strong>
</p>

            <div class="button">
                <a href="#" class="btn">About Me:</a>
            </div>
        </div>
    </section>

{% endblock %}